// Gradients

$h3: -webkit-linear-gradient(rgb(86, 188, 255), rgb(20, 9, 68));
$bar1: linear-gradient(to right,#304A87, white);
$bar2: linear-gradient(to right, #3081A7, white);
$gradient4: linear-gradient(to left, #1eacb6, rgb(20, 23, 59));

// Font families

$style1: 'Alegreya Sans', sans-serif;
$style2: 'Spartan', sans-serif;
$style3: 'Poiret One', cursive;
$style4: 'Sawarabi Gothic', sans-serif;

